APIV3="https://api.github.com"
APIV4="https://api.github.com/graphql"
TOKEN="/path/to/tokenfile"
PUBKEY="/path/to/sshkey.pub"

# v3
PAYLOAD="
{
  \"key\":\"$(cat ${PUBKEY})\",
  \"read_only\":true
}
"

# v4
GRAPHQL="/path/to/file.graphql"
PAYLOAD="
{ \
  \"query\": \"$(cat ${GRAPHQL} | sed s/\"/\\\\\"/g | tr -s '\n' ' ')\" \
} \
"